*{
    margin: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
}

.hero{
    background: rgba(255, 144, 14, 0.1);
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
}

h2{
    font-size: 45px;
    font-weight: 700;
    line-height: 52.79px
}

p{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

h4{
    font-size: 20px;
    font-weight: 700;
}
/* hero Section  */


.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Nav section  */
nav a{
    font-size: 18px;
    text-decoration: none;
    color: #424242
    ;
}

.logo{
    font-size: 45px;
    font-weight: 700;
}

.navigation{
    display: flex;
    gap: 30px;
}

/* Hero Text Section  */

.hero-text{
    text-align: center;
    max-width: 862px;
    margin: 0 auto;
}

.hero-title{
    margin-top: 102px;
}

.hero-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 30px 0;
}


/* button section  */

.button{
    text-align: center;
}

.explore-btn{
    width: 180px;
    height: 64px;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 8px;
    background-color: #FF900E;
    border: none;
}

.explore-btn a{
    text-decoration: none;
    color: #FFFFFF;
}

.banner-image{
    padding: 45px 0;
}

.banner-image img{
    width: 100%;
}

/* Feature Section  */

.feature{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 73px;
    margin-top: 85px;
    margin-bottom: 130px;

}

/* Images section style  */
.images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:24px
}

.images img{
    width: 100%;
}

/* Feature Detials style  */
.feature-details{
    max-width: 537px;
}

.thin{
    font-weight: 400;
}

.orange-color{
    color: #FF900E;
}

.feature-details p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    padding: 25px 0;
}

/* feature 2 section style  */

.feature-2{
    display: flex;
    gap: 54px;
}

/* Feature Details style  */

.sec2{
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}
.feature-2-details{
    max-width: 586px;
}

.feature-2-paragraph{
    margin: 25px 0;
}

.features{
    padding: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
}

.features p{
    margin-top: 10px;
}

/* feature 2 image styling */

.feature-2-img img{
    max-width: 708px;
    width: 100%;
    position: relative;
    left: 92px;
    top: -39px;
}

/* Experience Badge */

.experience-badge{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 342px;
    width: 90%;
    height: 200px;
    border-radius: 8px;
    background-color: #FF900E;
    position: relative;
    top: -130px;
}

.experience-badge h1{
    color: #FFFFFF;
}
.experience-p{
    font-size: 25px;
    color: #FFFFFF;
    font-weight: 400;
}

/* Facts */

.facts-des{
    max-width: 542px;
}

.facts-des p{
    margin-top: 24px;
}

/* Fact cell  */

.individual-facts{
    display: flex;
    justify-content: space-around;
    margin: 100px 0 180px 0;
}

.fact-cell{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 241px;
    height: 241px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: background-color 2s, transform 2s;

}

.fact-cell:hover{
    background-color: #FF900E;
    transform: scale(1.1);
}

.fact-cell-title{
    color: #424242;

}

.fact-cell-des{
    color: #727272;
}

/* Sponspors Section  */


.sponspors-heading{
    text-align: center;
}

.sponspors-heading p{
    margin-top: 24px;
    margin-bottom: 50px;
}

.sponspors-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sponspors-logo img{
    height: 50px;
    width: auto;
    filter: grayscale(100%);
}

.-logo:hover{
    filter: none;
}


/* Footer Section  */

.footer{
    text-align: center;
    background-color: #FFF4E7;
    border-radius: 8px;
    padding: 39px 0;
    margin-top: 130px;
    margin-bottom: 216px;
}


@media screen and (max-width:576px) {
    
    h1{
        font-size: 45px;
        line-height: 50px;
    }

    h2{
        font: 37px;
        list-style: 45px;
    }
    
    .menu{
        flex-direction: column;
    }

    .navigation{
        margin-top: 15px;
    }

    .hero-title {
        margin-top: 25px;
    }

    /* feature  */

    .feature{
        flex-direction: column-reverse;
        margin-top: 49px;
        margin-bottom: 50px;
    }

    .feature-details{
        text-align: center;
    }
    
    /* feature 2  */

    .feature-2 {
        flex-direction: column;
        gap: 15px;
    }

    .feature-2-img img{
        left: 0;
        top: 0;
    }

    .experience-badge{
        margin: 0 auto;
        top: -42px;
    }

    /* facts section  */
    .individual-facts{
        flex-direction: column;
        gap: 20px;
        margin: 35px 0 50px 0;
        align-items: center;
    }

    .sponspors-logo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 20px;
    }

    .sponspors-logo img{
        height: 30px;
    }

    /* footer  */

    .footer{
        margin-top: 44px;
        margin-bottom: 60px;
    }
}

